@import url("homepage.css");

.about {
  display: flex;
  padding: 80px 50px;
  justify-content: space-between;
}

.boxes {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.boxes div {
  flex: 1;
  background: #111;
  padding: 20px;
  border-radius: 20px;
}